[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
django-stubs = "*"
mypy = "*"
pytest-django = "*"
pytest-xdist = "*"
tox = "*"
pytest-flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
pyaml = "*"
uritemplate = "*"

[requires]
python_version = "3.7"
